.miBoton {
  font-size: 12px;
  border: 2px solid;
  border-radius: 5px;
  cursor: pointer;
  margin: 0.5em;
  transition: 0.25s;
  background: none;
  color: #ff7f82;
  padding: 13px 22px;
  font-size: 20px;
}

.miBoton:hover,
.miBoton:focus {
  box-shadow: inset -4.5em 0 0 0 hsl(7, 77%, 65%),
    inset 4.5em 0 0 0 hsl(7, 77%, 65%);
  border-color: hsl(7, 77%, 65%);
  color: #fff;
}

@media screen and (max-width: 767px) {
  .miBoton {
    padding: 10px 15px;
    font-size: 12px;
  }
  .miBoton:hover,
  .miBoton:focus {
    box-shadow: inset -4.3em 0 0 0 hsl(7, 77%, 65%),
      inset 4.3em 0 0 0 hsl(7, 77%, 65%);
    border-color: hsl(7, 77%, 65%);
    color: #fff;
  }
}
