.mainContainer {
  display: flex;
  flex-direction: column; /* Si prefieres una disposición en columna */
  border: 1px solid rgb(255, 230, 0);
  padding: 50px 101px 50px 101px;
  margin: 10px;
  justify-content: center;
  align-items: stretch;
}
.label {
  display: flex;
  align-items: center;
  justify-content: center;
}
.titulo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px 0 10px 0;
  font-size: 17px;
}
.input {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  height: 30px;
  width: 250px;
  border: 1px solid rgb(255, 217, 0);
  background: #000000;
  color: rgb(255, 255, 255);
}
