.mainContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.buttonsContainer {
  width: 60vw;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.viewTitulo {
  width: 100%;
  display: flex;
  justify-content: start;
}
